<h1 class="text-center my-5">Mes dépenses</h1>
<div class="row my-5 ">
  <div class="container col-8">
    <div class=" row gap-1 text-center justify-content-evenly">
      <div class=" col-4 card">
        <div class="card-body">
          <h2 class="card-title">Compte en banque</h2>
          <p class="card-text"><%= @user.total_amount %></p>
        </div>
      </div>
      <div class="col-3 card">
        <div class="card-body">
          <h2 class="card-title">Dépenses totales</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.expense_date %></td>
            <td><%= expense.amount %></td>
            <td><%= expense.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
